

#logopic{
	width: 10.4em;
	height: 1.8em;
	position: relative;
	left: 20px;
	top: 20px;
	float: left;
}


#site-header {
	height:78px;
	padding:0;
	margin: 0 auto;
	width: 98%;
	position:relative;
}

/*SECTIONS CSS */
#section1 {
	padding-top: 0px;
	height:100vh;
}

#section2 {
	height:50vh;

}

#section3 { 
	background-color:#f0f0f0;
}

/*END SECTIONS CSS*/

/*SECTION3 CSS */

.streak-container {
	background-color:#999999;
}
.streak-container h1 {
	text-align:left;
	font-size:1.4em;
	margin-top:0;
	margin-bottom:0;
}

.section3-content{
	height:100px;
}


/*END SECTION3 CSS*/


#splashdiv {
	height:100vh;
	width:100vw;
	overflow-y:hidden;
	overflow-x:hidden;
	background: url(../img/bigimg/01.jpg);
	background-position: center center;	
	background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	background-repeat:no-repeat;
}


.fixed-nav-bar {
	width:100%;
}

#navbar {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 78px;
  background: transparent;
}

#nav-link-wrapper {
	float:right;
}

.topnav {
	display: inline-block;
	padding: 0;
	height: 35px;
	margin: 0;
	list-style-type: none;
}

.topnav li {
	display:inline;
}

#navtext {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	font-size: 20px;
	padding-left: 5px;
}

.fixed-nav-bar {
	position:fixed;
	background:transparent;


/*phases*/
.content-wrapper {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#nav-link-wrapper {
	width: 70%;
	position: relative;
	float: right;
	height: 100%
}

#phases-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}
#phases-title h1 {
	display: inline-block;
	margin: 0;
	color: #85754d;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	z-index: 999;
}

.phase {
	width: 28.3%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}
.phase-content {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

#phase-1 h1 {
	background: url(../../img/bigimg/01.jpg) center -44px no-repeat;
	padding-top: 15px;
	height: 185px;
}